@tailwind base;
@tailwind components;
@tailwind utilities;

#main-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #323435 0%, #0C0C0C 99.99%, #2A2B2C 100%, #2A2B2C 100%);
    padding: 0 7%;
}

.nav-items {
    font-family: 'Germany Gothic', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}